<div class="container pt-4">
  <h3><span class="page_title col-10 ml-4">新規レシピ投稿</span></h3>
  <div class="row">
    <div class="col-md-8 col-10 mx-auto my-5">
      <% if @recipe.errors.any? %>
        <ul class="alert alert-danger" role="alert">
          <h6 class="alert-heading">
            <%= @recipe.errors.count %>件のエラーが発生しました
          </h6>
          <% @recipe.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= render 'form', recipe: @recipe %>
    </div>
  </div>
</div>