<div class="container pt-1">
  <h3><span class="page_title col-10 ml-4">会員一覧</span></h3>
  <%= link_to '新規ジャンル登録', new_genre_path, class: "btn btn-primary" %>
  <div class="row">
    <div class="col-sm-12 col-md-11 col-10 mx-auto my-2 d-flex">
    </div>
  </div>
</div>