<div class="container">
  <div class="row d-flex flex_wrap mb-2">
    <div class="col-lg-5 col-md-10 mx-md-auto col-sm-11 col-12">
    <%= render 'admin/recipes/show', recipe: @recipe, recipe_tags: @recipe_tags, recipe_difficulty: @recipe_difficulty %>
    </div>
    <div class="col-lg-5 col-md-10 mx-md-auto col-sm-11 col-12 offset-lg-1">
      <span id="admin_recipe_comment_status_<%= @recipe_comment.id %>"><%= render 'admin/recipe_comments/is_release_update', recipe: @recipe, recipe_comment: @recipe_comment %></span>
    </div>
  </div>
</div>
