<div class="container-fluid footer_group">
  <p class="text-center text-light my-2">&copy; Happy-life.rcp</p>
  <p class="text-center text-light my-2"><%= link_to 'トップページへ', root_path, class: "text-center text-light mb-3" %></p>
</div>